<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Drone</title>
</head>
<body>
    <form action="/kill" method="post"><input type="submit" value="KILL" /></form><br /><br />
    <form action="/fly" method="post"><input type="submit" value="Fly" /></form>
</body>
</html>